* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-primary: #2c343a;
    --light-primary: #f0f9ff;
    --light-secondary: #cbd5e1;
    --accent: #ded6b4;
    --btn-disabled: #a8a29e;
}
body {
    font-family: 'Inter', sans-serif;
    background: var(--dark-primary);
    color: var(--light-primary);
    text-align: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
    background-image: url('./assets/world-map.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.wrapper {
    background-color: var(--light-secondary);
    color: var(--dark-primary);
    border-radius: .5em;
    padding: 2em 3em;
    border: 1px solid var(--dark-primary);
    box-shadow: 0 0 5px 2px var(--light-primary);
}

h1 {
    color: var(--accent);
    font-size: 2.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.p--large {
    font-size: 1.5rem;
}

.p--regular {
    font-size: 1.125rem;
}
